<div data-ng-controller="plugin-mapboxglwidget.controllers.stylerController">

    <div class="settings-pane-host">
        <div class="pane-row">
            <div class="pane-row-title">Basemap</div>
            <div class="type-holder">
                <div data-ng-repeat="option in basemapOptions"
                     data-ng-class="{ selected: model.basemap == option.value }"
                     data-ng-click="changeBasemap(option)"
                     class="radio-option-item">
                    <div class="custom-radio-btn"
                         data-ng-class="{ selected: model.basemap == option.value }"></div>
                    <div class="radio-option-separator"></div>
                    <div class="radio-option-caption">{{option.key}}</div>
                </div>
            </div>
        </div>
    </div>

    <!-- Rendering Style     -->
    <div class="settings-pane-host">
        <div class="pane-row">
            <div class="pane-row-title">Style</div>
            <div class="positions-holder">
                <div data-ng-class="{ selected: model.renderType == 'heatmap' }" data-ng-click="setRenderType('heatmap')" class="radio-option-item">
                    <div class="custom-radio-btn" data-ng-class="{ selected: model.renderType == 'heatmap' }"></div>
                    <div class="radio-option-separator"></div>
                    <div class="radio-option-caption">Heatmap</div>
                </div>
                <div data-ng-class="{ selected: model.renderType == 'cluster' }" data-ng-click="setRenderType('cluster')" class="radio-option-item">
                    <div class="custom-radio-btn" data-ng-class="{ selected: model.renderType == 'cluster' }"></div>
                    <div class="radio-option-separator"></div>
                    <div class="radio-option-caption">Clustering</div>
                </div>
            </div> 
        </div>
    </div>

    <!--    Size Slider     -->
    <div class="settings-pane-host">
        <div class="pane-row">
            <div class="pane-row-title">Zoom Level Threshold: {{model.zoomLevel}}</div>
            <div class="pane-row-holder gravity-slider">
                <div class="white-slider">
                    <data-slider class="numeric-slider"
                                 data-type="value"
                                 data-min="14"
                                 data-max="24"
                                 data-step="1"
                                 data-value="model.zoomLevel"
                                 data-trigger="change"
                                 data-on-release="redraw()">
                    </data-slider>
                </div>
            </div>
        </div>
    </div>

    <!--    Heatmap Intensity Slider     -->
    <div class="settings-pane-host">
        <div class="pane-row">
            <div class="pane-row-title">Heatmap Intensity: {{model.intensity}}</div>
            <div class="pane-row-holder gravity-slider">
                <div class="white-slider">
                    <data-slider class="numeric-slider"
                                 data-type="value"
                                 data-min="1"
                                 data-max="10"
                                 data-step="0.1"
                                 data-value="model.intensity"
                                 data-trigger="change"
                                 data-on-release="redraw()">
                    </data-slider>
                </div>
            </div>
        </div>
    </div>

    <!-- Tooltip Setting     -->
    <div class="settings-pane-host">
        <div class="pane-row">
            <div class="pane-row-title">Tooltip</div>
            <div class="positions-holder">
                <div data-ng-class="{ selected: model.tooltipEvent == 'click' }" data-ng-click="setTooltipEvent('click')" class="radio-option-item">
                    <div class="custom-radio-btn" data-ng-class="{ selected: model.tooltipEvent == 'click' }"></div>
                    <div class="radio-option-separator"></div>
                    <div class="radio-option-caption">On Click</div>
                </div>
                <div data-ng-class="{ selected: model.tooltipEvent == 'mouseenter' }" data-ng-click="setTooltipEvent('mouseenter')" class="radio-option-item">
                    <div class="custom-radio-btn" data-ng-class="{ selected: model.tooltipEvent == 'mouseenter' }"></div>
                    <div class="radio-option-separator"></div>
                    <div class="radio-option-caption">On Hover</div>
                </div>
            </div> 
        </div>
    </div>

    <!-- Clustering Labels     -->
    <!--
    <div class="settings-pane-host">
        <div class="pane-row">
            <div class="pane-row-title">Clustering Labels</div>
            <div class="positions-holder">
                <div data-ng-class="{ selected: model.clusterLabelMethod == 'points' }" data-ng-click="setClusterLabelMethod('points')" class="radio-option-item">
                    <div class="custom-radio-btn" data-ng-class="{ selected: model.clusterLabelMethod == 'points' }"></div>
                    <div class="radio-option-separator"></div>
                    <div class="radio-option-caption"># Data Points</div>
                </div>
                <div data-ng-class="{ selected: model.clusterLabelMethod == 'sum' }" data-ng-click="setClusterLabelMethod('sum')" class="radio-option-item">
                    <div class="custom-radio-btn" data-ng-class="{ selected: model.clusterLabelMethod == 'sum' }"></div>
                    <div class="radio-option-separator"></div>
                    <div class="radio-option-caption">Sum of Points</div>
                </div>
            </div> 
        </div>
    </div>
    -->
</div>